body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}

header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

h1 {
  font-style: italic;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.item {
  text-align: center;
}

.item img {
  width: 100%;
}
.top-header {
  text-align: center;
  padding: 20px 0;
}

.logo {
  width: 250px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
}
